.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .header {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 60px;
    z-index: 100;
  }

  main {
    position: relative;
    flex: 1 0 auto;
    padding-top: 60px;
  }

  //stick footer to the bottom
  .footer {
    flex: 0 0 auto;
  }
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}
