// Widths
$mobile-sm: 479px;
$mobile: 600px;
$mobile-md: 678px;
$mobile-big: 768px;
$tablet: 992px;
$desktop: 1024px;

// Fonts
$default-font: "Druk Text Wide Cy TT Bold", sans-serif; //400

// Colors
$primary-color: rgb(239, 91, 76);
$black: #000;
